<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>作者紹介</title>
    <link rel="icon" type="image/png" href="img/icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
    <v-app>
    
    <v-app-bar
      color="grey"
      elevation="10"
      dark
      max-height="64px"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" class="d-flex d-sm-none"></v-app-bar-nav-icon>
      <v-toolbar-title class="text-h4 ml-6">朧気</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title class="mx-6 d-none d-sm-flex"><a href="index.html#about" style="color:white">朧気とは？</a></v-toolbar-title>
      <v-toolbar-title class="mx-6 d-none d-sm-flex"><a href="index.html#event" style="color:white">次回展示会</a></v-toolbar-title>
      <v-toolbar-title class="mx-6 d-none d-sm-flex"><a href="index.html#news" style="color:white">お知らせ</a></v-toolbar-title>
      <v-toolbar-title class="mx-6 d-none d-sm-flex"><a href="index.html#us" style="color:white">作者紹介</a></v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item href="index.html#event">
            <v-list-item-title>次回展示会</v-list-item-title>
          </v-list-item>
          <v-list-item href="index.html#about">
            <v-list-item-title>朧気とは？</v-list-item-title>
          </v-list-item>
          <v-list-item href="index.html#us">
            <v-list-item-title>作者紹介</v-list-item-title>
          </v-list-item>          
          <v-list-item href="index.html#news">
            <v-list-item-title>お知らせ</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>   
    </v-navigation-drawer>

    <v-main>
    <v-container>
      <p class="text-center text-h5 mt-12" v-if="q">作者紹介 No.{{qq}}</p>
      <p class="text-center text-h2 mt-12" v-if="q">{{items[q].title}}</p>
  
      <v-card elevation="0">
        <v-card-text class="text-center text-h4">
          {{items[q].intro}}
        </v-card-text>
        <v-card-actions class="text-center">
          <v-spacer></v-spacer>
        <v-btn
          class="mx-auto"
          fab
          icon
          height="50px"
          right
          width="50px"
          :href="items[q].tw"
          v-if="items[q].tw"
          target="_blank" rel="noopener noreferrer"
        >
          <v-icon>mdi-twitter</v-icon>
        </v-btn>
        <v-btn
          class="mx-auto"
          fab
          icon
          height="40px"
          right
          width="40px"
          :href="items[q].insta"
          v-if="items[q].insta"
          target="_blank" rel="noopener noreferrer"
        >
          <v-icon>mdi-instagram</v-icon>
        </v-btn>
        <v-btn
          class="mx-auto"
          fab
          icon
          height="40px"
          right
          width="40px"
          :href="items[q].yt"
          v-if="items[q].yt"
          target="_blank" rel="noopener noreferrer"
        >
          <v-icon>mdi-youtube</v-icon>
        </v-btn>
        <v-btn
          class="mx-auto"
          fab
          icon
          height="40px"
          right
          width="40px"
          :href="items[q].tk"
          v-if="items[q].tk"
          target="_blank" rel="noopener noreferrer"
        >
          <v-icon>mdi-alpha-t-box</v-icon>
        </v-btn>
        <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>

      <h2 style="margin-left: 10px;" class="mb-2" v-if="ss">過去作品</h2>
      <v-carousel hide-delimiters cycle class="mx-8" v-if="ss">
        <v-carousel-item
        v-for="(item,i) in ss"
        :key="i"
        :src="item.src"
        ></v-carousel-item>
      </v-carousel>

    </v-container>
    </v-main>
    </v-app>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
    new Vue({
        el: '#app',        
        data:{
          drawer: false,
          group: null,
          q: window.location.search.slice(1),
          qq:null,
          items: [
          {
              color: 'pink',
              title: '珠枝雛乃',
              intro: 'スチームパンクでメルヘンな世界観が好き。立体作品製作から楽曲製作まで幅広い活動をしている。2000年生まれ。2021年多摩美術大学入学、グループ展「朧気」の主宰。現在は金属を学んでいる。',
              src:"https://pbs.twimg.com/profile_images/1451466463751991297/q4jXYEBZ_400x400.jpg",
              tw:"https://twitter.com/nonhinachan?s=20&t=r49WhTC7Ta2aCGVCYTLt0w",
              yt:"https://youtube.com/channel/UCO0Zr3loHC6ac0RvZJPrqXw",
              tk:"https://vt.tiktok.com/ZSdXoheA2/",
              num: 0
            },
            {
              color: 'orange',
              title: 'すゑ',
              intro: 'すゑ(sue)と申します。この名前は実家のうさぎさんからもらいました。生活の中の漂い、流れる空気の柔らかさや湿っぽさを陶や水彩を主に用いて表現します。2003年生まれ。2021年多摩美術大学に入学。同年、級友とグループ展「朧気」を開催。現在は陶を学んでいる。',
              src:"img/auth/1/0.jpg",
              num: 1
            },
            {
              color: 'blue',
              title: 'くらげ',
              intro: '多摩美術大学日本画2年 海に関する日本画を制作しています。',
              insta:  "https://www.instagram.com/kurage5656/",
              src:"img/auth/4/0.jpg",
              num: 2
            },
            {
              color: 'red',
              title: '石川芳江',
              intro: '多摩美術大学 日本画 二年',
              src:"img/auth/5/0.jpg",
              num: 3
            },
            {
              color: 'yellow',
              title: 'みやもとあやか',
              intro: '多摩美術大学　日本画　２年',
              src:"img/auth/6/0.jpg",
              num: 4
            },
            {
              color: '#952175',
              title: 'あいう',
              intro: '',
              num: 5
            },

            {
              color: 'brown',
              title: '灸夏',
              intro: '植物と夏が好きです。主に日本画材やアクリルを使って、じっとりとした日本の夏や生い茂る自然の美しさを描いています。',
              tw:"https://twitter.com/09__ka?s=20&t=A6c1Gz-0MMZj1eWUmGpLGg",
              num: 6,
            },
            {
              color: 'green',
              title: '相田 穂介',
              intro: '好きな時に好きなだけ好きな絵を描きます。',
              insta: "https://www.instagram.com/habagen_idah/",
              num: 7,
            },

            {
              color: 'pink lighten-5',
              title: '戌宮初音',
              intro: '多摩美術大学　メディア芸術　２年',
              src:"img/auth/7/0.jpg",
              tw:"https://twitter.com/inumiya_pome",
              insta:  "https://www.instagram.com/inumiya_pome/",
              tk:"https://www.tiktok.com/@inumiya_pome",
              num: 8
            },
            {
              color: 'pink lighten-2',
              title: 'なえ',
              intro: '多摩美術大学　情報デザイン　２年',
              src:"img/auth/8/0.jpg",
              num: 9
            },
            {
              color: 'gray',
              title: '早川実花',
              intro: '多摩美術大学',
              src:"img/auth/9/0.jpg",
              num: 10
            },
            {
              color: 'gray',
              title: 'コウキ',
              intro: '多摩美術大学',
              src:"img/auth/10/0.jpg",
              num: 11
            },
            {
              color: 'gray',
              title: '窪田シュリ',
              intro: '多摩美術大学',
              src:"img/auth/11/0.jpg",
              num: 12
            },
          ],
          ss:null,
          slide0: 
          [
            {src: "img/auth/0/0.jpg"},{src: "img/auth/0/1.jpg"},{src: "img/auth/0/2.jpg"},{src: "img/auth/0/3.jpg"},{src: "img/auth/0/4.jpg"},{src: "img/auth/0/5.jpg"}
          ],
          slide1: 
          [
            {src: "img/auth/1/0.jpg"},{src: "img/auth/1/1.jpg"},{src: "img/auth/1/2.jpg"}
          ],
          slide2: 
          [
          {src: "img/auth/2/83779.jpg"},{src: "img/auth/2/83780.jpg"},{src: "img/auth/2/83781.jpg"}
          ],
          slide3: 
          [
          {src: "img/auth/3/0.jpg"}
          ],
          slide4: 
          [
            {src: "img/auth/4/0.jpg"},{src: "img/auth/4/1.jpg"},{src: "img/auth/4/2.jpg"}
          ],
          slide5: 
          [
            {src: "img/auth/5/0.jpg"},{src: "img/auth/5/1.jpg"},{src: "img/auth/5/2.jpg"}
          ],
          slide6: 
          [
            {src: "img/auth/6/0.jpg"}
          ],
          slide7: 
          [
            {src: "img/auth/7/0.jpg"}
          ]
        },
        watch: {
          group () {
            this.drawer = false
          },
        },
        created(){
          console.log("authorCre:",this.q)
          this.qq = this.q
          if(this.q==0){
            this.ss = this.slide0
          }
          if(this.q==1){
            this.ss = this.slide1
          }
          if(this.q==2){
            this.ss = this.slide2
          }
          if(this.q==3){
            this.ss = this.slide3
          }
          if(this.q==4){
            this.ss = this.slide4
          }
          if(this.q==5){
            this.ss = this.slide5
          }
          if(this.q==6){
            this.ss = this.slide6
          }
          if(this.q==7){
            this.ss = this.slide7
          }
          
        },
        vuetify: new Vuetify(),

    })
    </script>
</body>
</html>