* {
    margin:0; padding:0;
  }
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: center;
  }
  header .headline{
    font-size: 32px;
    font-family: 'Noto Serif JP', serif;
    color: white;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header{
    padding-top: 0px;
    padding-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: aqua;
  }
  .v-application a { color: white; }
  h2 {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .nav-list {
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }
  .box1{
    margin-right: 10px;
  }
  .box2{
    margin-left:5%;
  }
  .saku{
    width: 10%;
    margin-right: 10px;
    margin-left: 10px;
  }
  .wrap{
    display:flex;
    justify-content: center;
  }